In [ ]:
import pandas as pd


file_path = 'your_dataset.csv'  # Change to the correct path of your dataset
data = pd.read_csv(file_path)


missing_values = data.isnull().sum()


print(missing_values)

In [ ]:
import pandas as pd


file_path = 'your_dataset.csv'  # Update with the correct dataset path
data = pd.read_csv(file_path)


rows, columns = data.shape


print(f'The dataset has {rows} rows and {columns} columns.')

In [ ]:
observation in a dataset refer to the individual units or records from which data is collected.Each row in the Dataframe represents one observation
For instance:if the dataset records customer transactions, each row (observation) might correspond to a specific customer's transaction, including details like the date, items purchased, and total amount spent.

In [ ]:
Variables:Transaction_ID, Customer_ID, Date

In [ ]:
import pandas as pd


file_path = 'your_dataset.csv' 
data = pd.read_csv(file_path)


summary = data.describe()


print(summary)

or

summary = data.describe(include='all')
print(summary)

In [ ]:
import pandas as pd
import numpy as np


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 35, np.nan, 28, np.nan],
    'Salary': [50000, np.nan, 70000, 60000, np.nan],
    'City': ['New York', 'Los Angeles', 'Chicago', np.nan, 'Miami'],
    'Date Joined': ['2020-01-15', '2019-06-20', '2021-03-10', '2018-11-22', '2022-05-30']
}

df = pd.DataFrame(data)


print("Dataset shape (rows, columns):", df.shape)


print("\nSummary statistics (numeric columns only):")
print(df.describe())


print("\nSummary statistics (all columns):")
print(df.describe(include='all'))

In [ ]:
Dataset shape (rows, columns): (5, 5)

In [ ]:
  Summary statistics (numeric columns only):
         Age        Salary
  count   3.0     3.000000
  mean   29.333333 60000.000000
  std     5.131601 10000.000000
  min    25.000000 50000.000000
  25%    26.500000 55000.000000
  50%    28.000000 60000.000000
  75%    31.500000 65000.000000
  max    35.000000 70000.000000

In [ ]:
  Summary statistics (all columns):
         Name   Age   Salary        City  Date Joined
  count     5   3.0      3.0            4            5
  unique    5   NaN      NaN            4            5
  top    Alice   NaN      NaN    New York     2020-01-15
  freq      1   NaN      NaN            1            1
  mean     NaN 29.333333 60000.0         NaN         NaN
  std      NaN  5.131601 10000.0         NaN         NaN
  min      NaN 25.0      50000.0         NaN         NaN
  25%      NaN 26.5      55000.0         NaN         NaN
  50%      NaN 28.0      60000.0         NaN         NaN
  75%      NaN 31.5      65000.0         NaN         NaN
  max      NaN 35.0      70000.0         NaN         NaN

In [ ]:
1. Attribute (df.shape):
An attribute is like a property or characteristic of an object.
It holds some kind of information about the object, such as its size, name, or structure.
Attributes do not require parentheses because they just give you stored information without performing any action.
Example: df.shape is an attribute of a pandas DataFrame, and it gives you the dimensions of the DataFrame (the number of rows and columns) as a tuple. It doesn’t perform any operation, just retrieves the data.

In [ ]:
rows, columns = df.shape

In [ ]:
summary_stats = df.describe

In [ ]:
Count:

This is the number of non-null (non-missing) values in each column.
Example: If there are 100 values in a column but 10 are missing, the count will be 90.
Mean:

The average of all the values in the column.
It is calculated by summing all the values and dividing by the count of non-null values.
Formula: 
Mean
=
∑
values
count
Mean= 
count
∑values
​
 
Example: For values [10, 20, 30], the mean is 
10
+
20
+
30
3
=
20
3
10+20+30
​
 =20.
Standard Deviation (std):

A measure of how spread out the values are around the mean.
The higher the standard deviation, the more spread out the values are.
Example: A low standard deviation means values are close to the mean, while a high standard deviation means they are more spread out.
Minimum (min):

The smallest value in the column.
Example: In the set [10, 20, 30], the minimum value is 10.
25% (First Quartile):

The first quartile is the value below which 25% of the data lies.
Also known as the 25th percentile, it shows where the lower 25% of data is situated.
Example: In a sorted list [10, 20, 30, 40, 50], the first quartile would be 20.
50% (Median or Second Quartile):

The median is the middle value, which divides the data into two equal parts.
It is the value below which 50% of the data lies.
Example: In a sorted list [10, 20, 30, 40, 50], the median is 30.
75% (Third Quartile):

The third quartile is the value below which 75% of the data lies.
It separates the top 25% of the data from the bottom 75%.
Example: In a sorted list [10, 20, 30, 40, 50], the third quartile is 40.
Maximum (max):

The largest value in the column.
Example: In the set [10, 20, 30], the maximum value is 30.

In [ ]:
df_clean = df.dropna()

In [ ]:
del df['PhoneNumber']

In [ ]:

del df['UnusedData']


df_clean = df.dropna()

In [ ]:
import pandas as pd
import numpy as np


data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', np.nan, 'David', 'Eva'],
    'Age': [30, np.nan, 40, 35, np.nan],
    'Department': ['HR', 'IT', 'Finance', np.nan, 'Marketing'],
    'Salary': [50000, np.nan, 60000, 55000, np.nan]
}
df = pd.DataFrame(data)
print("Before Cleaning:")
print(df)

In [ ]:
import pandas as pd


url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)


result = titanic_df.groupby("embarked")["age"].describe()
print(result)